body{
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
}
.view{
   background:grey;
    background-size: cover;
}
html,
header,
.view,.view1 {
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;

}

/* Navbar animation */
nav.navbar {
  margin-top: 35px;
  font-size: 10px;
}
nav.navbar.contact{
  margin: 0px;
  
}
  ul.navbar-nav{
    margin-left: auto;
  }

.top-nav-collapse {
  background-color:rgba(0,0,0,0.5); }

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color:black } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #1C2331; }

.nav-link{
  color:black;

 
}
h2{
  font-size: 120px;
}
h5{
  font-size:10px;
}

.fashion {
  font-family: Dosis;
  font-stretch: normal;
  line-height: 0.96;
  letter-spacing: normal;
  text-align: center;
  color: #ffff;
  font-family: 'Source Sans Pro';
  text-size-adjust: inherit;
  
  
}
.button {
  text-align: center;
  border-radius: 100%;
  margin-top: 6%;
}
.main{
  width: 100%;
  
}
.instagram{
  margin: 5px,
}
.various{
  text-align: center;
  margin-top: 13%;
  color: #fff;
}
.shop{
  height:400px;
  background: red;
}

.nav-link{
  color:white;
  font-size: 16px;
  font-weight: bold;
}

.whit{
  height: 40px;
  background: #fff;
}

.baton{
  margin-top:5%;
}
.offers{
  color: white;
}
.mainbg{
 width: auto;
 background:url(//images/leather-boots-shoes1.jpg);
}
.africana{
font-size: 50px
}
.jumbotron{
  background-color:black ;
  background-size:cover;
  width: 100%;
  height: 75%;
}
.banner{
  background:grey;
  margin-top: -1%;;
}
button.mbtn {
  padding:0.8em 1em;
  font-size:0.8em;
  border:0;
  cursor:pointer;
  margin:1em;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}
.footer .menu a{
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  }
  .gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%; }
    .gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease; }
    .gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
    
    @media (max-width: 450px) {
    .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
    }
    }
    
    @media (max-width: 400px) {
    .btn.filter {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    }
    }