
.view{
  background: url(https://cdn.pixabay.com/photo/2016/12/06/01/26/colour-1885352_960_720.jpg)no-repeat center center;
    /* background:url(https://cdn.pixabay.com/photo/2014/04/03/11/08/shoe-311826_960_720.png)no-repeat center; */
  background-size: cover;
  
}
html,
body,
header,
.view,.view1 {
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center; 

}
  ul.navbar-nav{
    margin-left: auto;
  }

.top-nav-collapse {
  background-color: #1C2331; }

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331; } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #1C2331; }

.nav-item{
  color:black;
  font-family: inherit;
  font-size: 1rem; 
 
}
h1{
  font-size: 105px;
 
}

.fashion {
  font-family: Dosis;
  font-size: 100px;
  font-style: bold;
  font-stretch: normal;
  line-height: 0.96;
  letter-spacing: normal;
  text-align: center;
  color: #ffff;
  font-family: 'Source Sans Pro';
  text-size-adjust: inherit;
  
}
.button {
  text-align: center;
  border-radius: 50%;
  margin-top: 4%;
}
.main{
  
}
.instagram{
  margin: 5px,
}
.various{
  text-align: center;
  margin-top: 10%;
}
.shop{
  height:400px;
  background: red;
}

.nav-link{
  color: black;
  font-weight: bold;
  font-size: 20px
}

.whit{
  height: 40px;
  background: #fff;
}

.baton{
  margin-top:5%;
}

