
.view{
    background:url(https://cdn.pixabay.com/photo/2015/08/04/09/00/backdrop-874452_960_720.jpg)no-repeat center;
    background-size: cover;
}
html,
body,
header,
.view,.view1 {
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
}

/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center; 

}
  ul.navbar-nav{
    margin-left: auto;
  }

.top-nav-collapse {
  background-color: #1C2331; }

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color:black } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #1C2331; }

.nav-item{
  color:black;
  font-family: inherit;
  font-size: 1rem; 
 
}
h2{
  font-size: 120px;
}

.fashion {
  font-family: Dosis;
  font-style: bold;
  font-stretch: normal;
  line-height: 0.96;
  letter-spacing: normal;
  text-align: center;
  color: #ffff;
  font-family: 'Source Sans Pro';
  text-size-adjust: inherit;
  
}
.button {
  text-align: center;
  border-radius: 100%;
  margin-top: 6%;
}
.main{
  width: 100%;
  
}
.instagram{
  margin: 5px,
}
.various{
  text-align: center;
  margin-top: 13%;
  color: #fff;
}
.shop{
  height:400px;
  background: red;
}

.nav-link{
  color:white;
  font-weight: bold;
  font-size: 20px
}

.whit{
  height: 40px;
  background: #fff;
}

.baton{
  margin-top:5%;
}
.offers{
  color: white;
}
.mainbg{
 width: auto;
}
.africana{
font-size: 50px
}