
body{ 
    text-align: center;
}


* {
    margin: 0;
    padding: 0;
}


  .container {
      text-align: center;
    
  }
  
p{
    text-align: center,
}


nav {
    overflow: hidden;
    position: relative;
    top: 0;
    width: 100%;
    color:black;
    
}
.nav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  padding: 25%,
}
.nav a:hover {
    background-color: #ddd;
    color: black;
}

.navbar.navbar-nav {
    display: inline-block;
    float: none;
}
nav ul li:hover {
    background-color:violet;
}

.navbar .navbar-brand {
  color: black;
  text-align: center;
  margin-right: 25%,
}
    


.shopping-cart {
    
    background: #FFFFFF;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px #5E6977;

  }
  /* Next, let’s style the first item, which is the title, by changing the height to 60px and giving it some basic styling, and the next three items which are the shopping cart products, will make them 120px height each and set them to display flex. */
  
  .title {
    height: auto;
    padding: 20px 30px;
    color: #5E6977;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: -5%;
    margin-left: 10px;
  }
   
  .item {
    padding: 20px 30px;
    height: 120px;
    display: flex;
  }
  .item2 {
    width: 100%;
  }
   
  .item:nth-child(3) {
    border-top:  1px solid #E1E8EE;
    border-bottom:  1px solid #E1E8EE;
  }


.delete-btn,
.like-btn {
  display: inline-block;
  Cursor: pointer;
}
.delete-btn {
  width: 30px;
  position: absolute;
  height: 30px;
  background: url('images/delete.svg') no-repeat center;
  left: 220px;
  bottom: 120px;
}
 
.like-btn {
  position: absolute;
  background: url('images/heart-icon.png');
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  bottom:95px;
  right: 350px;
}
/* We set class “is-active” for when we click the button to animate it using jQuery, but this is for the next section. */



.is-active {
  animation-name: animate;
  animation-duration: .8s;
  animation-iteration-count: 1;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards;
}
 
@keyframes animate {
  0%   { background-position: left;  }
  50%  { background-position: right; }
  100% { background-position: right; }
}
/* Next, is the product image which needs a 50px right margin. */


.image {
  margin-right: 50px;
  margin-top: -10%;
}
.image2 {
    margin-top: 20%;
    margin-right: 50px;
    float:left;

}
 
/* Let’s add some basic style to  product name and description. */
.description {
  padding-top: 50px;
  top: 10%;
  width: 100;
  
}
 
.description span {
  display: block;
  font-size: 14px;
  color: #43484D;
  font-weight: 400;
}
 
.description span:first-child {
  margin-bottom: 5px;
}
.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939E;
}
/* Then we need to add a quantity element, where we have two buttons for adding or removing product quantity. First, make the CSS and then we’ll make it work by adding some JavaScript. */


.quantity {
  padding-top: 20px;
  margin-right: 60px;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}
 
button[class*=btn] {
  width: auto;
  height: auto;
  background-color: #E1E8EE;
  border-radius: ;
  border: none;
  cursor: pointer;
}
.minus-btn img {
  margin-bottom: 3px;
}
.plus-btn img {
  margin-top: 2px;
}
 
button:focus,
input:focus {
  outline:0;
}
/* And last, which is the total price of the product. */

.total-price {
  width:100%;
  text-align: center;
  font-size: 16px;
  color:black;
  font-weight: 300;
}
/* Let’s also make it responsive by adding the following lines of code: */


@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
    width: 50%;
  }
  .quantity {
    text-align: center;
    margin: 6px 0;
, 
  }
  
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
    margin-top: 5%,
  }
  .buttons {
    margin-right: 20px;
  }
}


  
