.header2 {
    height: 51px;
    padding-top: 18px;
    padding-bottom: 22px;
    text-align: center;
    color: rgb(161, 159, 159);
    background:rgb(223, 219, 219);
    font-size: 12px;
    font-family:'Source Sans Pro';
    
  }
  .header_text2 {
    text-align: center;
    color: gray;
  }

  